body {
	font-family: 'Quicksand', Trebuchet, sans-serif;
}

header {
	background-color: #d500f9;
}

.mysection {
	width: 100%;
	height: 63vh;
}

.nav-wrapper {
	font-weight: 500;
}
.container > div > div > p {
	line-height: 1.5;
	text-align: justify;
}

.side-nav {
	width: 45%;
}

#sidenav-overlay {
		z-index:1;
}

.side-nav > li > a {
	color: white;
	font-weight: 400;
}
	
.imagesection {
		width: 100%;
		color: white;
		margin: 0;
		top: 10vh;
		position: absolute;
		font-size: 6vh;
		text-shadow: #000 0px 2px 2px;
		pointer-events: none;
}
.proimg {
	margin: auto;
	height: 20vh;
	margin-bottom: 1vh;
}

.protxt {
	font-family: monotype, cursive;
	font-size: 9vh;
}

footer {
	background-color: #d500f9;
}

footer > div > div > div > p {
	font-size: 3vh;
}

.get-in-touch {
	align: center;
}

.iam {
	margin-bottom: 0;
	font-family: 'Monotype Cursiva', cursive;
	color: #d500f9;
}

.container > div > div > p {
	line-height: 2;
	text-align: justify;
}

#intro-details {
	background-color: #424242;
	margin-left: 1vw;
	margin-right: 1vw;
	border-radius: 15px;
	position: relative;
	box-shadow: rgba(0,0,0,0.4) 0px 20px 60px;
}

#grey-screen {
	width: 100%;
	height: 100%;
	top: 25px;
	position: relative;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media screen and (max-width: 992px) {
	#intro {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 600px) {
	#intro, #intro-details, #grey-screen {
		max-height: 500px;
	}
}
